{% extends "base.html" %}
{% block content %}
  <h1>Sika-nauta jauheliha</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-primary">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Parasta ennen pvm:</strong><label class="label label-danger"> 15.09.2017</li>
    <li><strong>Omistaja:</strong> Henri</li>
    <li><strong>Luokka:</strong> <label class="label label-warning">Herkästi pilaantuva</label></li>
    <li><strong>Lisäyspäivä:</strong> 10.09.2017</li>
    <li><strong>Käyttötarkoitus:</strong> Makaroonimössö</li>
  </ul>
  <!-- Lisätiedot tänne jos haluaa -->
  <p>
    Lisätietoja lisätietoja lisätietoja Lisätietoja lisätietoja lisätietoja Lisätietoja lisätietoja lisätietoja 
  </p>
{% endblock %}
